<div id="side-box">
	
	<div class="section">
		<h3>Sentido Inverso</h3>
		<ul>
			<li><%= link_to 'Contenido', contenido_path, :class => link_classes(contenido_path) %></li>
			<li><%= link_to 'Registro', registro_path, :class => link_classes(registro_path) %></li>			
			<li><%= link_to 'Texto curatorial', texto_curatorial_path, :class => link_classes(texto_curatorial_path) %></li>
		</ul>
	</div>
			
	<div class="section">
		<h3>Fotografía</h3>
		<ul>
			<li><%= link_to 'Dualidades poéticas', dualidades_poeticas_path, :class => link_classes(dualidades_poeticas_path) %></li>			
			<li><%= link_to 'INTERRUPCIONES EN LA IMAGEN', interrupciones_en_la_imagen_path, :class => link_classes(interrupciones_en_la_imagen_path) %></li>						
			<li><%= link_to 'YYYY', yyyy_path, :class => link_classes(yyyy_path) %></li>									
		</ul>
	</div>
	
	<div class="section">
		<h3>Audiovisual</h3>
		<ul>
			<li><%= link_to 'Autorretrato', autorretrato_path, :class => link_classes(autorretrato_path) %></li>			
			<li><%= link_to 'Hemorragia', hemorragia_path, :class => link_classes(hemorragia_path) %></li>		
			<li><%= link_to 'Asfalto y Magma', asfaltoymagma_path, :class => link_classes(asfaltoymagma_path) %></li>		
			<li><%= link_to 'Sala de espera', sala_de_espera_path, :class => link_classes(sala_de_espera_path) %></li>		
			<li><%= link_to 'Miscelánea', miscelanea_path, :class => link_classes(miscelanea_path) %></li>
		</ul>		
	</div>

</div>
