<div class="contained">
	<%= render :partial => "obra_nav" %>
	<%= render :partial => 'lightbox', :locals => { 
		:images => expand_image_paths("SENTIDO INVERSO/contenido/", (5..9)), 
		:gallery => "a"} 
	%>	
	<hr/>	
	<%= render :partial => 'lightbox', :locals => { 
		:images => expand_image_paths("SENTIDO INVERSO/contenido/", (1..4)), 
		:gallery => "b"} 
	%>	
	<hr />	
	<%= render :partial => 'lightbox', :locals => { 
		:images => expand_image_paths("SENTIDO INVERSO/contenido/", (10..12)), 
		:gallery => "c"} 
	%>
	<hr />
	<%= link_to image_tag("SENTIDO INVERSO/contenido/vid-1-still.thumbnail.jpg"), "http://youtube.googleapis.com/v/UPZ4aNMhyCQ", :rel => "shadowbox[d];width=640;height=480;player=swf", :class => "video" %>
	<%= link_to image_tag("SENTIDO INVERSO/contenido/vid-2-still.thumbnail.jpg"), "http://youtube.googleapis.com/v/qQB2_sUHOfE", :rel => "shadowbox[d];width=640;height=480;player=swf", :class => "video" %>	
	<%= link_to image_tag("SENTIDO INVERSO/contenido/vid-3-still.thumbnail.jpg"), "http://youtube.googleapis.com/v/j7MOqSAcm-c", :rel => "shadowbox[d];width=640;height=480;player=swf", :class => "video" %>	
</div>