<div class="contained">
	<%= render :partial => "proceso_nav" %>
	<%= render :partial => 'lightbox', :locals => { 
		:images => expand_image_paths("PROCESO/IAM ART MOVES/", (1..7)), 
		:gallery => "a"} 
	%>	
	
	<hr />
	
	<ul class="links">
		<li><div class="wrapper"><%= link_to image_tag('logos/iam.jpg'), 'http://www.international-art-moves.net/' %></div><%= link_to 'International art moves', 'http://www.international-art-moves.net/' %></li>
		<li><div class="wrapper"><%= link_to image_tag('logos/ostrale.jpg'), 'http://www.ostrale.de/en/' %></div><%= link_to 'Ostrale festival', 'http://www.ostrale.de/en/' %></li>
		<li><div class="wrapper"><%= link_to image_tag('logos/bellasartesgranada.png'), 'http://www.bellasartesgranada.org/' %></div>	<%= link_to 'Bellas artes granada', 'http://www.bellasartesgranada.org/' %></li>	
	</ul>
</div>
	
	
	
	



</div>