<div class="contained">
	<%= render :partial => "proceso_nav" %>
	<h1>Realización de workshop</h1>
	
	<%= render :partial => 'lightbox', :locals => { 
		:images => expand_image_paths("PROCESO/IAM ART MOVES/", (1..7)), 
		:gallery => "a"} 
	%>
		
	<p class="full">Painters, sculptors, photographers, sound, light, video, concept, installation and performance artists: the ostrale (www.ostrale.de) presents every year for two months the entire range of contemporary arts in the exceptional historic buildings of the former slaughterhouse at the ostragehege of dresden built by hans erlwein 100 years ago. it provides an exciting venue on 15,000 m² exhibition space and 50,000 m² outdoor area to showcase the best european and international emerging and established artists.</p>

	<p class="full">"iam international art moves" is a new module within the festival´s activities and exhibitions. the concept of the iam project is to build up cooperations during the next years especially with international art schools and academies to create projects within the ostrale festival which represent both the artistic qualities and best talents of the participating art schools and a qualifying element of curatorial know how to be implemented into the studies of each school. the ostrale offers a splendid basis to learn all aspects of curatorial and management tasks in an upcoming contemporary international festival of remarkable size.</p>
	
	<hr />
	
	<ul class="links">
		<li><div class="wrapper"><%= link_to image_tag('logos/iam.jpg'), 'http://www.international-art-moves.net/' %></div><%= link_to 'International art moves', 'http://www.international-art-moves.net/' %></li>
		<li><div class="wrapper"><%= link_to image_tag('logos/ostrale.jpg'), 'http://www.ostrale.de/en/' %></div><%= link_to 'Ostrale festival', 'http://www.ostrale.de/en/' %></li>
		<li><div class="wrapper"><%= link_to image_tag('logos/bellasartesgranada.png'), 'http://www.bellasartesgranada.org/' %></div>	<%= link_to 'Bellas artes granada', 'http://www.bellasartesgranada.org/' %></li>	
	</ul>
</div>
	
	
	
	



</div>