<div class="contained">
	<%= render :partial => "obra_nav" %>
	<%= render :partial => 'lightbox', :locals => { 
		:images => expand_image_paths("FOTOGRAFÍA/INTERRUPCIONES EN LA IMAGEN/", (1..5)), 
		:gallery => "a"} 
	%>	
	<hr />	
	<%= render :partial => 'lightbox', :locals => { 
		:images => expand_image_paths("FOTOGRAFÍA/INTERRUPCIONES EN LA IMAGEN/", (1..4).map{|i|"#{i}a"}), 
		:gallery => "b"} 
	%>	
	<hr />	
	<%= render :partial => 'lightbox', :locals => { 
		:images => expand_image_paths("FOTOGRAFÍA/INTERRUPCIONES EN LA IMAGEN/", (1..4).map{|i|"#{i}b"}), 
		:gallery => "c"} 
	%>	
	<hr />	
	<%= render :partial => 'lightbox', :locals => { 
		:images => expand_image_paths("FOTOGRAFÍA/INTERRUPCIONES EN LA IMAGEN/", (1..3).map{|i|"#{i}c"}), 
		:gallery => "d"} 
	%>	
	<hr />
	<%= render :partial => 'lightbox', :locals => { 
		:images => expand_image_paths("FOTOGRAFÍA/INTERRUPCIONES EN LA IMAGEN/", (1..3).map{|i|"#{i}d"}), 
		:gallery => "e"} 
	%>	
</div>