<!DOCTYPE html>
<html>
<head>
  <title>Alejandraaviles</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="header" class="contained">
		<h1>Alejandra Avilés</h1>
		<h2>Portafolio en linea</h2>
	</div>
	<div id="main-nav">
		<ul class="contained">
			<li><%= link_to 'Obra', obra_path %> </li>
			<li>Biografía</li>
			<li>Proyectos en proceso</li>
			<li>Contacto</li>
		</ul>
	</div>
	
<%= yield %>

</body>
</html>
