<!DOCTYPE html>
<html>
<head>
  <title>Alejandraaviles</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="header" class="contained">
		<h1><%= link_to 'Alejandra Avilés', root_path %></h1>
		<h2><%= link_to 'Portafolio en linea', root_path %></h2>
	</div>
	<div id="main-nav">
		<ul class="contained">
			<li><%= link_to 'Obra', obra_path, :class => link_classes(obra_path, contenido_path, registro_path, texto_curatorial_path, dualidades_poeticas_path, interrupciones_en_la_imagen_path, autorretrato_path, hemorragia_path) %> </li>
			<li><%= link_to 'Proyectos en proceso', proceso_path, :class => link_classes(proceso_path, amantes_path, iam_path, serigrafia_path) %></li>			
			<li><%= link_to 'Biografía', biografia_path, :class => link_classes(biografia_path) %></li>
			<li><%= link_to 'Contacto', contacto_path , :class => link_classes(contacto_path) %></li>
		</ul>
	</div>
	
<%= yield %>
	<div id="footer">

	</div>
</body>
</html>
