<!DOCTYPE html>
<html>
<head>
  <title>Alejandraaviles</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="header" class="contained">
		<h1><%= link_to 'Alejandra Avilés', root_path %></h1>
		<h2><%= link_to 'Portafolio en linea', root_path %></h2>
	</div>
	<div id="main-nav">
		<ul class="contained">
			<li><%= link_to 'Obra', obra_path %> </li>
			<li><%= link_to 'Biografía', biografia_path %></li>
			<li>Proyectos en proceso</li>
			<li><%= link_to 'Contacto', contacto_path %></li>
		</ul>
	</div>
	
<%= yield %>

</body>
</html>
